body {    
    /*http://uigradients.com/#RedOcean*/
    background-color: #fafafa;
    color: #262935;
}

div {
    font-family: 'Montserrat', sans-serif;
}

/* SECTION STYLES */

#section1 {
    /*background: url(../images/seattle.JPG) no-repeat;*/
    background-image: url(../images/seattle.JPG);
    background-size: cover;
}

/* =============== SECTION 1 =============== */
.main_title {
    display: block;
    margin: 0 auto;
    padding-top: 60px;
    font-size: 75px;
    color: white;
    text-align: center;
}

/* =============== SECTION 2 =============== */

.about {
    /*height: 300px;*/
    margin-bottom: 50px;
}

.about h2 {
    margin-bottom: 30px;
}

.about p {
    font-size: 17px;
    line-height: 30px;
}

.about a {
    color: white;
    font-weight: 700;
}
.about a:hover {
    text-decoration: none;
    color: #e0e2e5;
}

#profile-pic {
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 20px;
}

#contact-me-btn {
    margin-top: 30px;
}

#contact-me-btn a {
    text-decoration: none;
    transition-duration: .2s;
    color: inherit;
    /*background-color: white;*/
    border: 2px solid white;
    margin-right: 15px;
    margin-left: 15px;
    padding: 10px 15px 10px 15px;
}

#contact-me-btn a:hover {
    font-weight: 50px;
    letter-spacing: 1.2px;
    font-size: 15px;
    /*background-color: #f2f2f2;*/
}

u {
    text-decoration: none;
    border-bottom: 3px solid grey;
    margin-top: 10px;
}

/* =============== SECTION 4 =============== */

.projects {
    overflow: auto;
    height: auto;
    /*background-color: grey;*/
    margin-left: 100px;
    margin-right: 100px;
}

.projects img {
    -webkit-backface-visibility: hidden;
    transition-duration: .5s;
    opacity: 1;
}

.projects img:hover {
    opacity: .5;
}

.view-more-btn a {
    text-decoration: none;
    transition-duration: .2s;
    /*background-color: white;*/
    border: 2px solid #262935;
    color: inherit;
    margin-right: 15px;
    margin-left: 15px;
    padding: 10px 15px 10px 15px;
}

.view-more-btn a:hover {
    color: white;
    /*background-color: #7B868A;*/
    border: 2px solid white;
}

.proj-description {
    padding-top: 10px;
    padding-bottom: 20px;
}

.proj-card {
    /* Add shadows to create the "card" effect */
/*    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
*/    /*overflow: auto;*/
    /*float: left;*/
    /*width: 33.3%;*/
    /*height: 100%;*/
    background-color: transparent;
    /*padding: 20px;*/
}

/* On mouse-over, add a deeper shadow */
/*.proj-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}*/

/* =============== SECTION 5 =============== */
.contact {
    margin-top: 50px; 
}

.contact h2 {
    margin-bottom: 50px;
    color: black;
    text-decoration: underline;
    text-underline-position: under;
}

.logos {
    text-align: center;
}

.logos a {
    -webkit-transform: rotate(0);
}

.logos img {/*
    -webkit-transition: .3s ease-in-out;
    transition: .5s ease-in-out;*/
    -webkit-backface-visibility: hidden;
    transition-duration: .5s;
    opacity: 1;
    /*display: inline-block;*/
}

.logos img:hover {
    opacity: .5;
    transform: scale(1.2);
}

#email {
    height: 45px;
    width: 60px;
    border-radius: 10px;
}

#github {
    height: 50px;
    width: 50px;
    margin-left: 75px;
    margin-right: 75px;
}

#linkedin {
    height: 50px;
    width: 50px;
    margin-right: auto;
}

.form_container {
    margin-top: 20px;
}

#contact_me_table {
    margin-left: auto;
    margin-right: auto;
}

#contact_me_form {
    /*text-align: center;*/
}